body {
  background-color: #191916; /*#2f3129;*/
  color: #aaaaaa;
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
  font-size: 0.9em;
}
#top-panel {
  height: 50px;
  border-bottom: 1px solid #222;
}
#editor { 
  position: absolute;
  margin: 0px;
  float: none;
  top: 51px;
  right: 401px;
  bottom: 25px;
  left: 0px;
}
#wave-canvas {
  margin: 2px;
  position: absolute;
  right: 0px;
}
#perf-canvas {
  margin: 2px;
}
#gui {
  position: absolute;
  float: none;
  left: 0px;
  right: 0px;
  top: 51px;
  width: 400px;
  border-left: 2px solid #222;
}
.tool-button {
  font-size: 1.2em;
  float: left;
  width: 48px;
  height: 44px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 3px 0px 0px 2px;
  background: #2f3129; /*#3e4136;*/
  color: #aaa;
}
.tool-button-held {
  background-color: #22231e;
  margin-top: 4px;
}
.tool-button:active {
  background-color: #22231e;
  margin-top: 4px;
}
#status-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 24px;
  background-color: #191916;
  border-top: 1px solid #222;
  padding-left: 8px;
  color: #555;
}
#status-bar .error {
  color: #f22;
}